---
import AdminLayout from '../../../layouts/AdminLayout.astro';
import ProdukForm from '../../../components/admin/ProdukForm.astro';
---

<AdminLayout title="Tambah Produk">
  <div class="max-w-4xl">
    <ProdukForm />
  </div>
</AdminLayout>
