---
import AdminLayout from '../../layouts/AdminLayout.astro';
import UploadWidget from '../../components/admin/UploadWidget.astro';
---

<AdminLayout title="Upload Foto">
  <div class="max-w-4xl">
    <UploadWidget />
  </div>
</AdminLayout>
